body{
  min-height: 100vh;
  background-color: rgb(15,23,42);
}
.tile{
  min-height: 295px;
}

@media only screen and (max-width: 768px){
  #show-list{
    grid-template-columns: 400px !important;
  }
  .tile{
    max-width: 90vw;
  }
  .booking-form{
    min-width: 90vw;
  }
  .description{
    min-width: 90vw;
    height:auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px){
  #show-list{
    grid-template-columns: 1fr 1fr !important;
  }
  .description{
    min-width: 80vw;
  }
  .booking-form{
    min-width: 80vw;
  }
}